<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="icon" href="bootstrap-material-design/img/target.png" type="image/x-icon">
  <title>Targets 2020</title>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">  
<!-- MDBootstrap Datatables  -->
<link rel="stylesheet" type="text/css" href="bootstrap-material-design/css/addons/datatables.min.css"/>
 
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <!-- Start your project here-->  
  <div class="container text-center mt-5">
    <h1>2020 Fantasy Draft Targets</h1>
  </div>

  <div class="container mt-5">
    <table class="table" id="targetTable">
      <thead>
        <tr>
          <th scope="col">Position</th>
          <th scope="col">Name</th>
          <th scope="col">Round</th>
          <th scope="col">ADP</th>
          <th scope="col">ECR</th>
          <th scope="col">Bye</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">RB</th>
          <td>Alvin Kamara</td>
          <td>1</td>
          <td>6</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr>
          <th scope="row">RB</th>
          <td>Derrick Henry</td>
          <td>1</td>
          <td>5</td>
          <td>4</td>
          <td>7</td>

        </tr>
        <tr>
          <th scope="row">RB</th>
          <td>Joe Mixon</td>
          <td>1</td>
          <td>12</td>
          <td>7</td>
          <td>9</td>
          </tr>
        <tr>
          <th scope="row">RB</th>
          <td>Josh Jacobs</td>
          <td>1, 2</td>
          <td>9</td>
          <td>9</td>
          <td>6</td>
        </tr>
        <tr>
            <th scope="row">WR</th>
            <td>Michael Thomas</td>
            <td>1</td>
            <td>7</td>
            <td>1</td>
            <td>6</td>
            </tr>
  
      </tbody>
    </table>
  </div>
  <!-- End your project here-->

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>  
<script type="text/javascript" src="bootstrap-material-design/js/addons/datatables.min.js"></script>
<!-- Your custom scripts (optional) -->
<script type="text/javascript" src="bootstrap-material-design/js/app.js"></script>

</body>
</html>
